.docs-popup.component {
    max-width     : 800px;
    max-height    : 800px;
    width         : 90%;
    height        : 90%;
    margin        : auto;
    display       : flex;
    flex-direction: column;
    overflow-y    : auto;
    box-shadow    : var(--border-window-outer), var(--border-window-inner);
    background    : var(--surface);
    padding       : 3px;

    >header {
        position: sticky;
        top     : 0;
    }

    >iframe {
        flex-grow: 1;
        border   : none;
    }

    >.status-bar {
        >.status {
            >a {
                text-decoration: underline;
                cursor         : pointer;
            }
        }
    }
}