.user-list {
    display   : none;
    width     : 240px;
    background: var(--surface);
    padding   : 8px;

    &.active {
        display: flex;
    }

    border      : solid transparent;
    border-width: 0 0 0 2px;
    border-image: url("/icon/groupbox-border.svg") 2 repeat;

    @media @phone {
        position: absolute;
        left    : 0;
        top     : 58px;
        width   : 100%;
        height  : calc(100% - 58px);
        border  : none;
    }

    >.container {
        background: var(--button-highlight);
        box-shadow: var(--border-field);
        padding   : 6px;
        flex-grow : 1;
    }
}