/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("/fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("/fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gulim";
  src: url("/fonts/gulim.woff") format("woff");
  src: url("/fonts/gulim.woff2") format("woff2");
}
:root {
  /* Color */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;
  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;
  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(-1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --checkbox-total-width-precalc: var(--checkbox-width) + var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;
  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
        inset 2px 2px var(--button-shadow);
  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
        inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
        inset 2px 2px var(--button-highlight);
  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
        inset 2px 2px var(--window-frame);
  /* Tabs */
  --border-tab: inset -1px 0 var(--window-frame),
        inset 1px 1px var(--button-face),
        inset -2px 0 var(--button-shadow),
        inset 2px 2px var(--button-highlight);
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--surface);
  font-family: "Pixelated MS Sans Serif", "Gulim", Arial;
  font-size: 11px;
  color: var(--text-color);
  -webkit-font-smoothing: none;
}
img {
  image-rendering: pixelated;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-image: url("/images/popup-background.png");
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.title-bar.retro-component {
  display: flex;
  padding: 3px 2px 3px 3px;
  background: linear-gradient(90deg, navy, #1084d0);
  align-items: center;
}
.title-bar.retro-component > .title,
.title-bar.retro-component > h1 {
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
}
.title-bar.retro-component > .title {
  display: flex;
  align-items: center;
  gap: 6px;
}
.title-bar.retro-component > .title > img {
  height: 16px;
}
.title-bar.retro-component > .controls {
  display: flex;
}
.title-bar.retro-component > .controls > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 16px;
  min-height: 14px;
}
.title-bar.retro-component > .controls > button:active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.title-bar.retro-component > .controls > button.close {
  margin-left: 2px;
  background-image: url("/icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}
.title-bar.retro-component > .controls > button.help {
  background-image: url("/icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}
.status-bar.retro-component {
  margin: 0px 1px;
  display: flex;
  gap: 1px;
}
.status-bar.retro-component > .status {
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
  line-height: 1.5em;
}
.loader.retro-component.index-2 {
  padding: 8px;
}
.checkbox.retro-component > input[type="checkbox"]:focus + label {
  outline: 1px dotted #000000;
}
.checkbox.retro-component > input[type="checkbox"] + label {
  position: relative;
  margin-left: var(--checkbox-total-width);
  line-height: 13px;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox.retro-component > input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: calc(-1 * (var(--checkbox-total-width-precalc)));
  display: inline-block;
  width: var(--checkbox-width);
  height: var(--checkbox-width);
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  margin-right: var(--radio-label-spacing);
}
.checkbox.retro-component > input[type="checkbox"]:active + label::before {
  background: var(--surface);
}
.checkbox.retro-component > input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  width: var(--checkmark-width);
  height: var(--checkmark-width);
  position: absolute;
  top: var(--checkmark-top);
  left: calc(-1 * (var(--checkbox-total-width-precalc)) + var(--checkmark-left));
  background: url("/icon/checkmark.svg");
}
.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #555555;
}
.layout > main {
  flex-grow: 1;
  min-height: 0;
}
.room-view {
  height: 100%;
}
.about-popup.component {
  max-width: 440px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
}
.about-popup.component > header {
  position: sticky;
  top: 0;
}
.about-popup.component > main {
  display: flex;
  padding: 8px;
  gap: 8px;
  align-items: start;
}
.about-popup.component > main > img {
  width: 80px;
}
.about-popup.component > main > p {
  padding: 8px 0 8px 8px;
  border: solid transparent;
  border-width: 0 0 0 2px;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
  line-height: 1.5em;
}
.about-popup.component > main > p > a {
  color: var(--link-blue);
  text-decoration: underline;
}
.about-popup.component > footer {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.about-popup.component > footer > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
}
.about-popup.component > footer > button:active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.about-popup.component > footer > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.about-popup.component > .status-bar > .status > a {
  text-decoration: underline;
  cursor: pointer;
}
.sign-in-popup.component {
  max-width: 440px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
}
.sign-in-popup.component > main {
  display: flex;
  padding: 8px;
  gap: 8px;
  align-items: start;
}
.sign-in-popup.component > main > img {
  width: 80px;
}
.sign-in-popup.component > main > p {
  padding: 8px 0 8px 8px;
  border: solid transparent;
  border-width: 0 0 0 2px;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
  line-height: 1.5em;
}
.sign-in-popup.component > main > p > ol > li {
  list-style-type: decimal;
  margin-left: 16px;
  padding: 8px 0;
}
.sign-in-popup.component > footer {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.sign-in-popup.component > footer > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
}
.sign-in-popup.component > footer > button:active:not(:disabled) {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.sign-in-popup.component > footer > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.sign-in-popup.component > footer > button:disabled {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
}
.my-info-popup.component {
  max-width: 440px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
}
.my-info-popup.component > main {
  display: flex;
  padding: 8px;
  gap: 8px;
  align-items: start;
}
.my-info-popup.component > main > img {
  width: 80px;
}
.my-info-popup.component > main > p {
  padding: 8px 0 8px 8px;
  border: solid transparent;
  border-width: 0 0 0 2px;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
  line-height: 1.5em;
}
.my-info-popup.component > footer {
  padding: 0 8px 8px 8px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.my-info-popup.component > footer > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
}
.my-info-popup.component > footer > button:active:not(:disabled) {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.my-info-popup.component > footer > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.my-info-popup.component > footer > button:disabled {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
}
.select-emoji-popup.component {
  max-width: 420px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: var(--surface);
  padding: 3px;
  min-height: 0;
}
.select-emoji-popup.component > main {
  padding: 8px 4px 4px 8px;
  overflow-y: auto;
}
.select-emoji-popup.component > main > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  margin-right: 4px;
  margin-bottom: 4px;
  min-width: 46px;
  min-height: 46px;
}
.select-emoji-popup.component > main > button:active:not(:disabled) {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.select-emoji-popup.component > main > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.select-emoji-popup.component > main > button:disabled {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
}
.select-emoji-popup.component > main > button.selected {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
  background-color: #fff;
}
.select-emoji-popup.component > main > button > img {
  display: block;
  width: 32px;
  height: 32px;
  margin: auto;
}
.select-emoji-popup.component > main > button > img.loading {
  background-image: url("/images/loader/small-loader.gif");
  background-size: 32px 32px;
  background-position: -2px center;
}
.select-emoji-popup.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.select-emoji-popup.component > footer > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
}
.select-emoji-popup.component > footer > button:active:not(:disabled) {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.select-emoji-popup.component > footer > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.select-emoji-popup.component > footer > button:disabled {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
}
.room {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
}
.room > main {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}
.room > main > .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.room > main > .container > .chat-room {
  flex-grow: 1;
}
.welcome-panel {
  padding: 8px;
  padding-bottom: 0;
}
.toolbar {
  border: solid transparent;
  border-width: 2px;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
  display: flex;
}
.toolbar > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px;
  min-width: 54px;
  gap: 2px;
}
@media only screen and (min-width: 860px) {
  .toolbar > button:hover {
    border: none;
    color: transparent;
    text-shadow: 0 0 var(--text-color);
    background: var(--surface);
    box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  }
}
.toolbar > button.on,
.toolbar > button:active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}
.toolbar > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.toolbar > button:last-of-type {
  margin-left: auto;
}
.toolbar > button > img {
  height: 32px;
}
.room-list {
  flex-shrink: 0;
  display: none;
  width: 280px;
  background: var(--surface);
  padding: 8px;
  border: solid transparent;
  border-width: 0 2px 0 0;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
}
.room-list.active {
  display: flex;
}
@media only screen and (max-width: 859px) {
  .room-list {
    position: absolute;
    left: 0;
    top: 58px;
    z-index: 1;
    width: 100%;
    height: calc(100% - 58px);
    border: none;
  }
}
.room-list > .container {
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  padding: 6px;
  flex-grow: 1;
  overflow-y: scroll;
}
.room-list > .container > li > details > summary {
  margin-bottom: 3px;
  user-select: none;
  cursor: pointer;
  display: inline;
}
.room-list > .container > li > details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid #808080;
  width: 11px;
  height: 11px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}
.room-list > .container > li > details > summary:focus {
  outline: 1px dotted #000000;
}
.room-list > .container > li > details[open] > summary:before {
  content: "-";
}
.room-list > .container > li > details > ul {
  margin-bottom: 3px;
  margin-left: 16px;
  padding-left: 16px;
  /* Goes down too far */
  border-left: 1px dotted #808080;
}
.room-list > .container > li > details > ul > li {
  margin-bottom: 3px;
  position: relative;
}
.room-list > .container > li > details > ul > li::before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted #808080;
}
.room-list > .container > li > details > ul > li:last-child::after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0px;
  width: 8px;
  background: var(--button-highlight);
}
.room-list > .container > li > details > ul > li > a {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.room-list > .container > li > details > ul > li > a > img {
  width: 32px;
  height: 32px;
}
.room-list > .container > li > details > ul > li > a:hover {
  text-decoration: underline;
}
.room-list > .container > li > details > ul > li.active > a {
  background-color: var(--dialog-blue);
  outline: 1px solid var(--dialog-blue);
  color: var(--button-highlight);
  font-weight: bold;
}
.user-list {
  flex-shrink: 0;
  display: none;
  width: 240px;
  background: var(--surface);
  padding: 8px;
  min-height: 0;
  border: solid transparent;
  border-width: 0 0 0 2px;
  border-image: url("/icon/groupbox-border.svg") 2 repeat;
}
.user-list.active {
  display: flex;
}
@media only screen and (max-width: 859px) {
  .user-list {
    position: absolute;
    left: 0;
    top: 58px;
    z-index: 1;
    width: 100%;
    height: calc(100% - 58px);
    border: none;
  }
}
.user-list > .container {
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  padding: 6px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
}
.user-list > .container > .empty {
  color: var(--button-shadow);
}
.user-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}
.user-item > img {
  width: 32px;
  height: 32px;
}
.chat-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}
.chat-room > .message-input {
  padding: 8px;
  padding-top: 0;
}
.chat-room > .message-input > form,
.chat-room > .message-input > .anonymous-form {
  gap: 8px;
  display: flex;
}
.chat-room > .message-input > form > input,
.chat-room > .message-input > .anonymous-form > input {
  flex-grow: 1;
  padding: 3px 4px;
  min-height: 23px;
  border: none;
  box-shadow: var(--border-field);
  background-color: var(--button-highlight);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.chat-room > .message-input > form > input::placeholder,
.chat-room > .message-input > .anonymous-form > input::placeholder {
  opacity: 0.5;
}
.chat-room > .message-input > form > input:disabled,
.chat-room > .message-input > .anonymous-form > input:disabled {
  background-color: var(--surface);
}
.chat-room > .message-input > form > input.upload,
.chat-room > .message-input > .anonymous-form > input.upload {
  display: none;
}
.chat-room > .message-input > form > button,
.chat-room > .message-input > .anonymous-form > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
}
.chat-room > .message-input > form > button:active,
.chat-room > .message-input > .anonymous-form > button:active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}
.chat-room > .message-input > form > button:focus,
.chat-room > .message-input > .anonymous-form > button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}
.chat-room > .message-input > form > button.emoji,
.chat-room > .message-input > .anonymous-form > button.emoji,
.chat-room > .message-input > form > button.upload,
.chat-room > .message-input > .anonymous-form > button.upload {
  min-width: 23px;
  padding: 0;
}
.chat-room > .message-input > form > button.emoji > img,
.chat-room > .message-input > .anonymous-form > button.emoji > img,
.chat-room > .message-input > form > button.upload > img,
.chat-room > .message-input > .anonymous-form > button.upload > img {
  display: block;
  margin: auto;
  height: 16px;
}
.message-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-height: 0;
}
.message-list > .container {
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  padding: 6px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.message-list > .container > .blank {
  flex-grow: 1;
}
.message-list > .container > .empty {
  color: var(--button-shadow);
}
.message-item {
  display: flex;
  align-items: start;
  gap: 4px;
  line-height: 16px;
}
.message-item > .author {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  flex-shrink: 0;
}
.message-item > .author > img {
  width: 16px;
  height: 16px;
}
.message-item > .message {
  flex-grow: 1;
}
.message-item > .files > .file > a {
  color: var(--link-blue);
  text-decoration: underline;
}
.message-item > .files > .file > a:focus {
  outline: 1px dotted var(--link-blue);
}
.message-item > .emojis > .emoji {
  width: 32px;
  height: 32px;
}
.message-item.wait > .message {
  color: #999;
}

