.chat-room {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    min-height    : 0;

    >header {
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
        display   : flex;
        padding   : 6px 4px 0 6px;
        display   : flex;
        gap       : 8px;

        >h1 {
            display       : flex;
            gap           : 4px;
            align-items   : center;
            padding-bottom: 6px;

            @media @phone {
                white-space  : nowrap;
                text-overflow: ellipsis;
                overflow     : hidden;
                max-width    : 120px;
            }

            >img {
                height: 16px;
            }
        }

        >.tabs {
            flex-grow: 1;
        }

        >.favorite-button {
            margin-top: -2px;
        }
    }

    >.message-input {
        padding    : 8px;
        padding-top: 0;
        display    : flex;
        gap        : 8px;

        >input.upload {
            display: none;
        }

        >button {
            box-sizing   : border-box;
            border       : none;
            color        : transparent;
            text-shadow  : 0 0 var(--text-color);
            background   : var(--surface);
            box-shadow   : var(--border-raised-outer), var(--border-raised-inner);
            border-radius: 0;
            min-width    : 75px;
            min-height   : 23px;
            padding      : 0 12px;
            text-align   : center;

            &:active {
                box-shadow : var(--border-sunken-outer), var(--border-sunken-inner);
                text-shadow: 1px 1px var(--text-color);
            }

            &:focus {
                outline       : 1px dotted #000000;
                outline-offset: -4px;
            }

            &.emoji,
            &.upload {
                min-width: 23px;
                padding  : 0;

                >img {
                    display: block;
                    margin : auto;
                    height : 16px;
                }
            }
        }

        >form,
        >.anonymous-form {
            flex-grow: 1;
            gap      : 8px;
            display  : flex;

            >input {
                flex-grow         : 1;
                padding           : 3px 4px;
                min-height        : 23px;
                border            : none;
                box-shadow        : var(--border-field);
                background-color  : var(--button-highlight);
                box-sizing        : border-box;
                -webkit-appearance: none;
                -moz-appearance   : none;
                appearance        : none;
                border-radius     : 0;

                &::placeholder {
                    opacity: 0.5;
                }

                &:disabled {
                    background-color: var(--surface);
                }
            }

            >button {
                box-sizing   : border-box;
                border       : none;
                color        : transparent;
                text-shadow  : 0 0 var(--text-color);
                background   : var(--surface);
                box-shadow   : var(--border-raised-outer), var(--border-raised-inner);
                border-radius: 0;
                min-width    : 75px;
                min-height   : 23px;
                padding      : 0 12px;
                text-align   : center;

                &:active {
                    box-shadow : var(--border-sunken-outer), var(--border-sunken-inner);
                    text-shadow: 1px 1px var(--text-color);
                }

                &:focus {
                    outline       : 1px dotted #000000;
                    outline-offset: -4px;
                }
            }
        }
    }
}